<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Autores</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/agregarStyle.css}">
</head>

<body>
	<nav th:replace="layouts/nav-bar :: nav-bar-light">	</nav>

	<div class="container">
		<h2>Modificar libro</h2>
		<form th:action="@{/libros/modificar/{id}}" method="POST">
			<input type="hidden" name="id" th:value="${id}"/>
            <label for="isbn">ISBN</label>
            <input type="number" class="form-control" name="isbn" th:value="${isbn}"/>
			<label for="nombreLibro">Titulo</label>
			<input type="text" class="form-control" name="nombreLibro" th:value="${nombreLibro}"/>
            <label for="anio">año</label>
            <input type="number" class="form-control" name="anio" th:value="${anio}"/>
            <label for="ejemplares">ejemplares</label>
            <input type="number" class="form-control" name="ejemplares" th:value="${ejemplares}"/>
            <label for="ejemplaresPrestados">Ejemplares Prestados</label>
            <input type="number" class="form-control" name="ejemplaresPrestados" th:value="${ejemplaresPrestados}"/>
			<label for="autor">Autor</label>
			<select name="autor">
				<option th:value="${autorS.id}" th:text="${autorS.nombre}"></option>
				<option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
			</select>
			<br>
			<label for="editorial">editorial</label>
			<select name="editorial">
				<option th:value="${editorialS.id}" th:text="${editorialS.nombre}"></option>
				<option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>
			</select>
			<br><br>
			<button type="submit" class="btn btn-primary">Ingresar</button>
		</form>
	</div>

  <div th:if="${error != null}"><p th:text="${error}"></p></div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
		crossorigin="anonymous"></script>
</body>

</html>